USE [MS3]
GO
/****** Object:  Table [dbo].[Uzytkownicy]    Script Date: 06/09/2015 00:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uzytkownicy](
	[ID_UZYTKOWNIK] [int] IDENTITY(1,1) NOT NULL,
	[U_LOGIN] [nvarchar](50) NOT NULL,
	[U_HASLO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Uzytkownicy] PRIMARY KEY CLUSTERED 
(
	[ID_UZYTKOWNIK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Uzytkownicy] ON
INSERT [dbo].[Uzytkownicy] ([ID_UZYTKOWNIK], [U_LOGIN], [U_HASLO]) VALUES (1, N'admin', N'123')
SET IDENTITY_INSERT [dbo].[Uzytkownicy] OFF
/****** Object:  Table [dbo].[Ksiazki]    Script Date: 06/09/2015 00:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ksiazki](
	[ID_KSIAZKA] [int] IDENTITY(1,1) NOT NULL,
	[K_TYTUL] [text] NOT NULL,
	[K_OPIS] [text] NOT NULL,
	[K_AUTORZY] [text] NOT NULL,
	[K_WYDAWNICTWO] [text] NULL,
	[K_OPRAWA] [nvarchar](50) NULL,
	[K_WYMIARY] [nvarchar](50) NULL,
	[K_ILOSC_STRON] [int] NULL,
	[K_ISBN] [nvarchar](50) NULL,
	[K_OKLADKA] [text] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[ID_KSIAZKA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ksiazki] ON
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Ksiazki] OFF
